.dark-navbar {
  background-color: #141416;
}

.navbar-container {
  display: inherit;
  width: 80%;
  margin: 0 auto;
}

.brand-text {
  font-size: 48px !important;
  font-weight: 700;
}

.item-text {
  font-size: 24px;
}

.vertical-center-text {
  margin: 0 10px 0 10px;
  height: 40px;
  line-height: 40px;
}

.search-field {
  background-color: #D2D2D2;
  border-radius: 4px;
  height: 40px;
}

.search-field label {
  box-sizing: border-box;
}

.search-field .search-input {
  width: 350px;
  background-color: #D2D2D2;
  border: 0;
  padding: 0 10px;
}

input:focus {
  outline: none;
}

.animate {
  animation-name: inputExpand;
  animation-duration: 1s;
}

a:hover {
  text-decoration: none !important;
  color: #8B8B8C !important;
}
