.photo-container {
  width: inherit;
}

.image-screen {
  background-color: #212124;
  padding-top: 10px;
  padding-bottom: 10px;
}

img {
  display: block;
  height: 480px;
  margin: 0 auto;
}

.info-container {
  margin-top: 20px;
  margin-bottom: 50px;
  width: 80%;
}

.profile-img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.username {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 9px;
}

.image-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 7px;
}

.description {
  font-size: 14px;
}

.tag-title {
  font-size: 18px;
  color: #63A4CA;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
}

.tag-item {
  padding: 3px 10px;
  background-color: #cfd6d9;
  border-radius: 6px;
  margin-top: 4px;
  margin-right: 7px;
}

.tag-item:hover {
  cursor: pointer;
  background-color: #868D91;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  color: #fff;
}
