.grid-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.overlay-text-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 7px;
  margin-bottom: 7px;
}

.overlay-text {
  display: flex;
  flex-direction: row;
  margin: 8px;
  font-size: 12px;
  text-align: left;
}

.overlay-text-type {
  order: 0;
  height: 100%;
  margin-right: 7px;
  background-color: #fafafa;
  border-radius: 2px;
  padding: 2px 6px;
  font-size: 14px;
  color: #D4B100;
  font-weight: 600;
}

.overlay-text-detail {
  order: 1;
  padding: 3px 0;
  line-height: 100%;
}
